body{
  width: 80%;
  margin: 50px auto;
  border: 2px solid purple;
  text-align: center;
  font-size: 1.3em;
}

section{
  background-color: #9AD595;

}

h1{
  color: red;
  font-size: 2em;
  margin: auto;
}

button{
  padding: 1em;
  font-size: 0.5em;
  border-radius: 50px;
}
